@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*, *::before, *::after {    
    margin: 0;    
    padding: 0;    
    box-sizing: border-box;    
    list-style: none;    
    text-decoration: none;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    /* border: 1px solid black; */
}

img,
picture {
  max-width: 100%;
  display: block;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: linear-gradient(143deg, rgba(30,51,82,1) 0%, rgba(25,38,72,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    padding: 2.5rem 2.5rem 5rem;
    gap: 15rem;
}

header {
    width: 100%;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 5px;
}

.title img {
    width: 8rem;
}

.title p {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    margin: -0.75rem 0;
    
}

.box {
    color: hsl(229, 64%, 46%);
    background: white;
    padding: 0.85rem 2.25rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box p {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#currentScore {
    color: hsl(229, 25%, 31%);
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: -0.25rem;
}
    /* // end of Header */


.content {
    height: 8rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapImg {
    position: relative;
    max-width: 20rem;
}

.imgPaper {
    background: white;
    padding: 1.5rem;
    width: 13.25rem;
    height: 13.25rem;
    border: 15px solid hsl(230, 89%, 62%);
    border-radius: 100px;
    position: absolute;
    top: -6.5rem;
    left: -6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 5px 0px 0px rgba(0, 0, 0, 0.147), 0 5px #0000004d, 0 5px hsl(230, 89%, 65%);
    cursor: pointer;
}

.imgScissors {
    background: white;
    padding: 1.5rem;
    width: 13.25rem;
    height: 13.25rem;
    border: 15px solid hsl(39, 89%, 49%);
    border-radius: 100px;
    position: absolute;
    top: -6.5rem;
    right: -6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 5px 0px 0px rgba(0, 0, 0, 0.147), 0 5px #0000004d, 0 5px hsl(39, 89%, 49%);
    cursor: pointer;
}

.imgRock {
    background: white;
    padding: 1.5rem;
    width: 13.25em;
    height: 13.25rem;
    border: 15px solid hsl(349, 71%, 52%);
    border-radius: 100px;
    position: absolute;
    bottom: -5rem;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 5px 0px 0px rgba(0, 0, 0, 0.147), 0 5px #0000004d, 0 5px hsl(349, 71%, 52%);
    cursor: pointer;
}


.btnOpen {
    text-transform: uppercase;
    color: white;
    font-size: 1.75rem;
    background: none;
    border-radius: 10px;
    border-color: white;
    padding: 1rem 4rem;
    cursor: pointer;
    margin-top: 5rem;
}

.popup {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: white;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: -3rem;
}

.popup h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.popup button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.popup.active {
    transform: scale(1);
}

.content.step1 {
    display: none;
}

/* Step 2 style below */

.step2 {
    display: none;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.yourPick {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.housePick {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.userShadow {
    height: 11rem;
    width: 11rem;
    background: #1a2946;
    border-radius: 100px;
    position: absolute;
    margin-top: 1.15rem;
    margin-left: 0.9rem;
    z-index: -1;
}

.userShadow.active {
    box-shadow: 0 0 0 25px #2c3d5e, 0 0 0 50px #273856, 0 0 0 80px #233656;
}

.step2 p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

.housePick {
    position: relative;
}

.stepTwo {
    position: static;
}

.houseShadow {
    height: 11rem;
    width: 11rem;
    background: #1a2946;
    border-radius: 100px;
    position: absolute;
    margin-top: 1.15rem;
    margin-left: 0.9rem;
    top: 0;
    z-index: -1;
}

.houseShadow.active {
    box-shadow: 0 0 0 25px #2c3d5e, 0 0 0 50px #273856, 0 0 0 80px #233656;
}


.step4 {
    display: none;
}

.stepFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.stepFour.active {
    opacity: 1;
}

.result {
    margin-top: 6.5rem;
    width: 22rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 5.5rem;
}

.btnPlayAgain {
    width: 22rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    padding: 1.5rem 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
}


@media screen and (min-width: 768px) {
    
    main {
        padding: 4rem 3rem 2.5rem;
        gap: 22.5rem;
    }

    header {
        padding: 1.5rem 2.5rem;
        border-radius: 15px;
    }

    .title img {
        width: 100%;
    }

    .box {
        padding: 1.5rem 4.5rem 1rem;
        border-radius: 10px;
    }

    .box p {
        font-size: 1.5rem;
    }

    #currentScore {
        font-size: 6.5rem;
        margin-top: -0.5rem;
    }
    /* // end of Header */

    .wrapImg {
        max-width: 27rem;
    }

    #paper {
        scale: 1.325;
    }

    .imgPaper {
        width: 19rem;
        height: 19rem;
        border: 22px solid hsl(230, 89%, 62%);
        top: -9.5rem;
        left: -9.5rem;
        box-shadow: inset 1px 7px 0px 0px rgba(0, 0, 0, 0.147), 0 5px #0000004d, 0 5px hsl(230, 89%, 65%);

    }

    #scissors {
        scale: 1.325;
    }

    .imgScissors {
        width: 19rem;
        height: 19rem;
        border: 22px solid hsl(39, 89%, 49%);
        top: -9.5rem;
        right: -9.5rem;
        box-shadow: inset 1px 7px 0px 0px rgba(0, 0, 0, 0.147), 0 5px #0000004d, 0 5px hsl(39, 89%, 49%);
    }


    #rock {
        scale: 1.325;
    }

    .imgRock{
        width: 19rem;
        height: 19rem;
        border: 22px solid hsl(349, 71%, 52%);
        bottom: -8rem;
        box-shadow: inset 1px 7px 0px 0px rgba(0, 0, 0, 0.147), 0 5px #0000004d, 0 5px hsl(349, 71%, 52%);
    }

    .btnOpen {
        position: absolute;
        right: 3rem;
        bottom: 3rem;
    }


    .popup {
        width: 40rem;
        min-height: 41rem;
        max-height: 41rem;
        border-radius: 10px;
        position: absolute;
        inset: 0;
        margin: auto;
        padding: 10rem 0 3rem;
        -webkit-box-shadow: 5px 5px 15px 5000px #0000007a; 
        box-shadow: 5px 5px 15px 50000px #0000007a;
    }


    .popup h2 {
        font-size: 3rem;
        position: absolute;
        top: 3rem;
        left: 3.5rem;
    }
    
    .popup button {
        position: absolute;
        top: 3.5rem;
        right: 3.5rem;
    }

    /* Step 2 style below */

    .wrap {
        gap: 7rem;
    }

    .yourPick {
        flex-direction: column-reverse;
    }

    .housePick {
        display: flex;
        flex-direction: column-reverse;
    }

    .step2 p {
        font-size: 2.49rem;
        margin: 0 0 2rem 0;
    }

    .txt {
        position: static;
    }

    .houseShadow {
        height: 17rem;
        width: 17rem;
        margin-top: 6.5rem;
        margin-left: 0.95rem;
    }

    .houseShadow.active {
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.05), 0 0 0 100px rgba(255, 255, 255, 0.04), 0 0 0 150px rgba(255, 255, 255, 0.03);
    }

    .userShadow {
        height: 17rem;
        width: 17rem;
        margin-bottom: 1rem;
        margin-left: 0.95rem;
    }

    .userShadow.active {
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.05), 0 0 0 100px rgba(255, 255, 255, 0.04), 0 0 0 150px rgba(255, 255, 255, 0.03);
    }

    .btnPlayAgain:hover {
        color: #b3314a;
        cursor: pointer;
    }

   
}


@media screen and (min-width: 1024px) {

    main {
        justify-content: flex-start;
    }

    .content {
        margin-top: 15rem;
    }

    .wrap {
        gap: 7rem;
        margin-top: 10rem;
    }

    .wrap.active {
        gap: 35rem;
    }

    .stepFour {
        margin-top: -25rem;
    }

}
